$icon-height: 33px;
$cell-height: 60px;
$cell-width: 80px;


.agenda {
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    border-radius: 2px;
    padding: 16px;
    padding-bottom: 78px;

    .agenda-headings {
        float: left;

        .agenda-heading {
            position: relative;
            width: 150px;
            height: $cell-height;
            line-height: $cell-height;
            text-align: left;
            font-weight: bold;

            .grip {
                color: white;
                margin-right: 8px;
                cursor: move;
            }
    
            .drop-indicator {
                position: absolute;
                color: grey;
                top: -8px;
                left: 0px;
            }

            &:hover .grip {
                color: lightgray;
            }
        }
        
    }

    .agenda-content-wrapper {
        overflow-x: auto;
        direction: rtl;
        .agenda-content {
            .agenda-content-row {
                display: flex;
                flex-direction: row;
    
                .agenda-day {
                    flex: 0 0 $cell-width;
                    height: $cell-height;
                    line-height: $cell-height;
                    text-align: center;

                    .fa.toggle {
                        cursor: pointer;
                    }
    
                    .fa.fa-check {
                        color: lightgreen;
                        font-size: 24px;
                    }
    
                    .fa.fa-remove {
                        color: lightcoral;
                        font-size: 24px;
                    }
    
                    .fa.fa-minus {
                        color: lightgrey;
                    }
    
                    .fa.fa-circle {
                        color: lightblue;
                        font-size: 18px;
                    }
                }
    
                .agenda-date-header {
                    flex: 0 0 $cell-width;
                    min-width: $cell-width;
                    height: $cell-height;
                    line-height: $cell-height;
                    text-align: center;
                    font-weight: bold;
                }
            }
        }
    }
}
