@import "global_variables";

body {
    background-color: #e7eff1;
    margin: 0;
    font-family: sans-serif;
    min-width: $min-app-width;
    .main-content {
        @media screen and (min-width: 600px) {
            padding: 8px;
        }
    }
}