$icon-height: 33px;

.fa.fa-dot:before {
    content: "\25cf";
    font-size: 2em;
    color: lightblue;
    cursor: pointer;
    line-height: $icon-height;
}

.fa-check {
    color: lightgreen;
    font-size: 1.5em;
    cursor: pointer;
    min-height: $icon-height;
    line-height: $icon-height;
}

th {
    line-height: $icon-height;
}