$cell-size: 46px;

.habit-page {
    max-width: 800px;
    min-width: 320px;
    margin: 0 auto;
    border-radius: 4px;
    border: 1px solid lightgrey;
    background-color: white;
    padding: 16px;
    height: 100%;

    .habit-title {
        h2 {
            text-align: center;
            display: inline-block;
        }

        button {
            display: inline;
            margin-left: 32px;
        }
        margin-bottom: 32px;
    }

    .calendar {
        margin: 0 auto;
        width: 100%;
        max-width: 410px;
        .week {
            display: block;
            padding: 0 12px;
            .day {
                display: inline-block;
                width: 14.2%;
                border-radius: 100%;
                max-width: $cell-size;
                height: $cell-size;
                line-height: $cell-size;
                margin: 4px;
                font-size: 22px;
                padding-top: 1px;
                padding-left: 1px;
                color: white;
                font-weight: bold;
                text-align: center;
                -webkit-user-select: none;     
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                position: relative;
                background-color: lightgray;
                
                &.toggle {
                    cursor: pointer;
                }

                &.not-done {
                    background-color: lightcoral;
                }

                &.done {
                    background-color: lightgreen;
                }

                &.todo-today {
                    background-color: lightblue;
                }

                .month-name {
                    position: absolute;
                    width: $cell-size;
                    line-height: 10px;
                    font-size: 10px;
                    text-transform: uppercase;
                    text-align: center;
                    left: 0;
                    top: 5px;
                }
            }
        }
    }

    .buttons {
        margin-top: 40px;
    }
}