$cell-size: 46px;

.habit-page {
    width: 100%;
    height: 100%;
    padding: 16px;
    max-width: 700px;
    margin: 0 auto;

    .habit-title {
        h2 {
            text-align: center;
            display: inline-block;
        }

        button {
            display: inline;
            margin-left: 32px;
        }
        margin-bottom: 32px;
    }

    .calendar {
        margin: 0 auto;
        width: 350px;
        .week {
            display: block;
            padding: 0 12px;
            .day {
                display: inline-block;
                width: 14.2%;
                max-width: $cell-size;
                height: $cell-size;
                line-height: $cell-size;
                font-size: 24px;
                color: lightgrey;
                font-weight: bold;
                border: 1px solid #b8b8b873;
                border-collapse: collapse;
                margin-left: -1px;
                margin-top: -1px;
                padding-left: 1px;
                padding-top: 1px;
                text-align: center;
                -webkit-user-select: none;     
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                position: relative;
                
                &.toggle {
                    cursor: pointer;
                }

                &.not-done {
                    color: rgb(236, 160, 160);
                    background-color: rgb(236, 208, 208);
                }

                &.done {
                    color: rgb(142, 214, 142);
                    background-color: rgb(196, 250, 208);
                }

                &.todo-today {
                    color: rgb(136, 194, 230);
                    background-color: rgb(202, 226, 241);
                }

                .month-name {
                    position: absolute;
                    width: $cell-size;
                    line-height: 12px;
                    font-size: 12px;
                    text-transform: uppercase;
                    text-align: center;
                    left: 0;
                    top: 3;
                }
            }
        }
    }

    .buttons {
        margin-top: 40px;
    }
}