.nav-bar {
    width: 100%;
    min-width: 320px;
    height: 48px;
    background-color: lightgreen;
    box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.15);

    .nav-bar-content {
        margin: 0 auto;
        padding: 0 8px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: 816px;
        align-items: center;

        .nav-bar-logo {
            font-weight: bolder;
            color: white;
            font-size: 30px;
            line-height: 48px;
            text-shadow: 1px 1px 1px rgba(78, 78, 78, 0.144);
            text-decoration: none;        
        }

        .settings-icon {
            color: white;
            font-size: 24px;
            line-height: 24px;
            margin-right: 8px;
            vertical-align: middle;

            &:hover {
                color: #ecebeb;
            }
        }
    }
}