@import "global_variables";

$page-background: white;

@mixin page() {
    max-width: $max-app-width;
    margin: 0 auto;
    background-color: $page-background;
    padding: 16px;
    height: 100%;
    box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.15);

    @media screen and (min-width: $mobile-max-width) {
        border-radius: 4px;
        border: 1px solid lightgrey;
    }
}